/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

.container {
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 960px) {
    .container {
      max-width: 960px;
      margin: 0 auto; } }

section {
  padding-left: 20px;
  padding-right: 20px; }

.navbar__logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px; }
  @media only screen and (min-width: 460px) {
    .navbar__logo {
      margin: 0; } }

.navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px; }

.navbar {
  background-color: #304050;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 460px) {
    .navbar {
      height: 90px; } }

.navbar__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 460px) {
    .navbar__container {
      flex-direction: row;
      justify-content: space-between; } }

.navbar__links-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px; }
  @media only screen and (min-width: 460px) {
    .navbar__links-wrapper {
      width: 300px;
      height: auto;
      flex-direction: row; } }

.hero__image {
  width: 150px; }
  @media only screen and (min-width: 460px) {
    .hero__image {
      width: 200px; } }

.hero__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  text-align: center; }
  @media only screen and (min-width: 460px) {
    .hero__title {
      font-size: 60px; } }

.hero__subtitle {
  font-size: 20px;
  color: white;
  text-align: center; }

.hero {
  background-color: #00ba9b; }

.hero__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 80px 0; }

.separator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0; }
  .separator i {
    margin: 0 10px;
    font-size: 20px;
    color: white; }
  .separator .separator__line {
    width: 100px;
    height: 3px;
    background-color: white; }

.project {
  width: 200px;
  height: 140px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 0; }
  @media only screen and (min-width: 460px) {
    .project {
      width: 300px;
      height: 200px;
      margin: 10px 10px; } }

.projects-board-wrapper {
  width: 100%; }

.projects-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .projects-board--tab, .projects-board--desktop {
    display: none; }
  @media only screen and (min-width: 460px) {
    .projects-board--phone {
      display: none; }
    .projects-board--tab {
      display: flex; } }
  @media only screen and (min-width: 960px) {
    .projects-board--tab {
      display: none; }
    .projects-board--desktop {
      display: flex; } }

.projects-board__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%; }

.portfolio__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 80px 0; }

.about__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  max-width: 800px; }
  @media only screen and (min-width: 460px) {
    .about__text {
      padding: 0 40px; } }
  @media only screen and (min-width: 960px) {
    .about__text {
      flex-direction: row;
      justify-content: space-around; } }

.text-part {
  color: white;
  font-size: 18px; }
  @media only screen and (min-width: 460px) {
    .text-part {
      font-size: 20px; } }
  @media only screen and (min-width: 960px) {
    .text-part {
      width: 45%; } }
  .text-part p {
    line-height: 24px; }

.download-button {
  width: 230px;
  height: 50px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px; }
  .download-button i {
    margin-right: 10px; }
  .download-button:hover {
    background-color: white;
    color: #00ba9b; }

.about {
  background-color: #00ba9b; }

.about__container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.contact__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; }
  .contact__form input,
  .contact__form textarea {
    width: 100%;
    max-width: 100%;
    color: #304050;
    border: none;
    border-bottom: 1px solid lightgray;
    margin: 10px 0;
    font-size: 20px;
    outline: none;
    transition: 0.2s;
    padding-bottom: 20px; }
    .contact__form input:focus,
    .contact__form textarea:focus {
      border-bottom: 2px solid #304050; }
    .contact__form input::placeholder,
    .contact__form textarea::placeholder {
      color: darkgray; }
  .contact__form input:last-child {
    background-color: #00ba9b;
    align-self: flex-start;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0; }
    .contact__form input:last-child:hover, .contact__form input:last-child:focus {
      background: none;
      border: 2px solid #00ba9b;
      color: #00ba9b;
      cursor: pointer; }
    @media only screen and (min-width: 460px) {
      .contact__form input:last-child {
        width: 100px; } }
  .contact__form textarea {
    resize: none; }

.contact {
  padding: 80px 30px; }

.contact__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.footer-top {
  background-color: #304050; }

.footer-bottom {
  background-color: #202932; }

.section-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; }
  .section-title--white {
    color: white; }
    .section-title--white .separator__line {
      background-color: white; }
  .section-title--navy {
    color: #304050; }
    .section-title--navy .separator__line {
      background-color: #304050; }
  .section-title span {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }

.section-title__separator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; }
  .section-title__separator i {
    margin: 0 10px;
    font-size: 20px; }

.separator__line {
  width: 100px;
  height: 3px; }
