/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

.container {
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 960px) {
    .container {
      max-width: 960px;
      margin: 0 auto; } }

section {
  padding-left: 20px;
  padding-right: 20px; }

.navbar__logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px; }
  @media only screen and (min-width: 460px) {
    .navbar__logo {
      margin: 0; } }

.navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px; }

.navbar {
  background-color: #304050;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media only screen and (min-width: 460px) {
    .navbar {
      height: 90px; } }

.navbar__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 460px) {
    .navbar__container {
      flex-direction: row;
      justify-content: space-between; } }

.navbar__links-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px; }
  @media only screen and (min-width: 460px) {
    .navbar__links-wrapper {
      width: 300px;
      height: auto;
      flex-direction: row; } }

.hero {
  background-color: #00ba9b; }

.about {
  background-color: #00ba9b; }

.footer-top {
  background-color: #304050; }

.footer-bottom {
  background-color: #202932; }

.section-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; }
  .section-title--white {
    color: white; }
    .section-title--white .separator__line {
      background-color: white; }
  .section-title--navy {
    color: #304050; }
    .section-title--navy .separator__line {
      background-color: #304050; }
  .section-title span {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase; }

.section-title__separator {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0; }
  .section-title__separator i {
    margin: 0 10px;
    font-size: 20px; }

.separator__line {
  width: 100px;
  height: 3px; }
